body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #00b2ff, #7b00ff);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timer-container {
    display: flex;
  }
  
  .timer, .stopwatch {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
  }
  
  .time {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .btn:hover{
    background: #00b2ff;
    color: #040107;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  